__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.env
.ipynb_checkpoints/
CIEL_MEMORY_SYSTEM/
venv/
.venv/
*.gguf
main/llm/models/
ciel_autosave.json
control_center.json
*.code-workspace
...desktop
*.wav
ext/CIEL_CLEAN_KERNEL_MERGED_VARIANTS/
